<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>{{TITLE}}</title>
	
	<!--// jQuery // -->
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<!--// Raphaël // -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
	<!--// Kartograph.js // -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/kartograph-js/0.7.1/kartograph.min.js"></script>

	<link rel="stylesheet" href="assets/style.css" />
	<script>
		$(document).ready(function(){
			var svg = "{{SVGSTRING}}";
			var svgfile = "{{SVGFILE}}";
			var map = kartograph.map('#map_{{NAME}}');
			
			var callback=function(){
				alert("finished");
			}
			
			if(svg!=""){
				map.setSVG(svg).done(callback);
			} else {
				map.loadMap(svgfile).done(callback);
			}
	</script>
</head>
<body>
	<div id="map_{{NAME}}"></div>
</body>
</html>
